NufusKayitKontrol/NufusKayitKontrol/Web References/NufusGelenServis/NufusServisKutuphane.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TcKontrol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TcNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TcKontrolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TcKontrolResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TcKontrolSoapIn">
    <wsdl:part name="parameters" element="tns:TcKontrol" />
  </wsdl:message>
  <wsdl:message name="TcKontrolSoapOut">
    <wsdl:part name="parameters" element="tns:TcKontrolResponse" />
  </wsdl:message>
  <wsdl:portType name="NufusServisKutuphaneSoap">
    <wsdl:operation name="TcKontrol">
      <wsdl:input message="tns:TcKontrolSoapIn" />
      <wsdl:output message="tns:TcKontrolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NufusServisKutuphaneSoap" type="tns:NufusServisKutuphaneSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TcKontrol">
      <soap:operation soapAction="http://tempuri.org/TcKontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NufusServisKutuphaneSoap12" type="tns:NufusServisKutuphaneSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TcKontrol">
      <soap12:operation soapAction="http://tempuri.org/TcKontrol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NufusServisKutuphane">
    <wsdl:port name="NufusServisKutuphaneSoap" binding="tns:NufusServisKutuphaneSoap">
      <soap:address location="http://localhost:49990/NufusServisKutuphane.asmx" />
    </wsdl:port>
    <wsdl:port name="NufusServisKutuphaneSoap12" binding="tns:NufusServisKutuphaneSoap12">
      <soap12:address location="http://localhost:49990/NufusServisKutuphane.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>